<h2>案件一覧</h2>
<%= link_to "案件一覧", borrow_conditions_path, class:"btn btn-success" %>

<h3>提案済み案件一覧</h3>
<table class="table table-hover">
  <thead>
    <tr class="success">
      <th>メールアドレス</th>
      <th>金融機関名</th>
      <th>借入金額</th>
      <th>借入タイプ</th>
      <th>借入金利</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @proposals.each do |proposal| %>
    <tr>
      <td><%= proposal.lender.name %></td>
      <td><%= proposal.amount %></td>
      <td><%= proposal.rate_type %></td>
      <td><%= proposal.rate %></td>
      <td><%= link_to "詳細", proposal_path(proposal), class:"btn btn-success" %></td>
      <td><%= link_to "承諾済み", proposal_path(proposal), class:"btn btn-primary", disabled: true if proposal.choiced == true %></td>
    </tr>
    <% end %>
  </tbody>
</table>