
<h2>提案詳細</h2>
<table class="table table-hover">
  <thead>
    <tr class="success">
      <th>金融機関名</th>
      <th>提案金額</th>
      <th>提案タイプ</th>
      <th>提案金利</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @proposal.lender.name %></td>
      <td><%= @proposal.amount %></td>
      <td><%= @proposal.rate_type_view %></td>
      <td><%= @proposal.rate %></td>
    </tr>
  </tbody>
</table>
<div>
  <%= simple_format(@proposal.description) %>
</div>

<% if @proposal.choiced == true %>
  <% if @proposal.completed.present? %>
    <td><%= button_to "契約完了済み", dashboard_path, disabled: true, class:"btn btn-primary btn-block" %></td>
  <% else %>
    <td><%= button_to "契約を完了する",proposals_complete_proposal_path(id: proposal), data: { confirm: "ステータスを契約完了に変更しますがよろしいですか？"},class:"btn btn-primary btn-block" %></td>
  <% end %>
<% end %>