<!DOCTYPE html>
<html>
<head>
  <title>Lendy</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Lendy</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "マイページ", mypage_path %></li>
          <li><%= button_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-primary navbar-btn" %></li>
        <% else %>
          <li><%= link_to "ログイン", new_user_session_path %></li>
          <li><%= button_to "お申し込み", main_index_path, class:"btn btn-primary navbar-btn", method: :get %></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">
	<% flash.each do |name, msg| %>
	  <div class="alert alert-<%= name == "notice" ? "success" : "danger" %>">
	    <a class="close" data-dismiss="alert">×</a> <!-- アラートダイアログに×ボタンをつける -->
	    <%= msg %>
	  </div>
	<% end %>
  <%= yield %>
</div>

</body>
</html>
